# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

 
 
 Some of the popular languages that Data Scientists use are:
 
 <ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
    <li>Julia</li>
 </ol>



Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Numpy</li>
    <li>Pandas</li>
    <li>Tensorflow</li>
    <li>Matplotlib</li>
</ol>

|Data Science Tools|
|-----|
|RStudio|
|RapidMiner|    
|Apache Spark|
|Apache Hadoop|



### Below are a few examples of evaluating arithmetic expressions in Python


$\sqrt{3x-1}+(1+x)^2$

$\hat{Y} = \hat{\beta}_{0} + \sum \limits _{j=1} ^{p} X_{j}\hat{\beta}_{j} $

In [6]:
#This is a simple arithmetic expression to mutiply then add integers
y=(3*4)
z=y+5
print(z)

17

In [19]:
#This will convert 200 minutes to hours by diving by 60

x=200
y=x/60
print(y)

3.3333333333333335


# Objectives:

<ul>
    <li> Markdown cell to list data science languages</li>
    <li> Markdown cell to list data science libraries</li>
    <li> Markdown cell with a table of Data Science tools</li>
    <li> Code cell to multiply and add numbers</li>
    <li> Code cell to convert minutes to hours</li>
</ul>


## Author
 Kashif Ali